@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
} 

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }
}  

@media screen and (min-width: 768px){
.advantages-item {
    width: calc((100% - 72px) / 2);
}
}

@media screen and (min-width: 768px){
    .advantages-list {
        gap: 24px;
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1156px;
    }
    .advantages-item{
    width: calc((100% - 72px) / 4);
    }

    .advantages-subtitle{
        font-size: 20px;
    }

    .advantages-item-top{ 
     display: block;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--cloud, #F4F4FD);
    margin-bottom: 8px;
    }
    .advantages{
        padding-top: 120;
        padding-bottom: 120;
    }
} 
