@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
} 

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }
}  

@media screen and (min-width: 768px){
.advantages-item {
    width: calc((100% - 72px) / 2);
    gap: 24px;
}
}


@media screen and (min-width: 1156) {
    .container {
        max-width: 1156px;
    }
    
    .advantages-item {
        width: calc((100% - 72px) / 4);  
    }

} 
